# Binaries for programs and plugins
main
EnhanceAnyLexer
*.exe
*.exe~
*.so
*.dylib
*.dll
/TEMPDIR
/tests
/*.lib
/*.exp
/build_git_releases.bat
/releases
/EnhanceAnyLexer.res
/enhance_any_lexer.o
/enhance_any_lexer.res
/build_test.bat