# Binaries for programs and plugins
main
EnhanceAnyLexer
*.exe
*.exe~
*.so
*.dylib
*.dll
*.obj
/TEMPDIR
/tests
/*.lib
/*.exp
/releases
/EnhanceAnyLexer.res
/enhance_any_lexer.o
/enhance_any_lexer.res
*.bat
/.editorconfig
